@{
    ViewBag.Title = "About";
}

<div class="johnnyparagraph">
    <img style="width: 400px;" src="~/Content/2000px-Logo_of_the_Church_of_Jesus_Christ_of_Latter-day_Saints.svg.png" />
    <h4 style="margin-top: 30px;">Welcome to the missionary site of The Church of Jesus Christ of Latter-Day Saints.</h4>
    <p style="margin-top: 30px; margin-left: 20%; margin-right: 20%;">Here you will find valuable resources to help you prepare for your upcoming mission experience. We help new missionaries find answers to their questions about mission life and what their mission area is like from people who have been there. Our sole goal is to help you have a great experience as you begin your mission and fulfill your duty to the Lord.</p>
    <p style="margin-top: 30px; margin-left: 20%; margin-right: 20%; font-style:italic;">For behold the field is white already to harvest; and lo, he that thrusteth in his sickle with his might, the same layeth up in store that he perisheth not, but bringeth salvation to his soul. - Doctrine and Covenants 4:4</p>
</div>
