@{
    ViewBag.Title = "Contact";
}

<div style="margin-left: 20px;">
    <h2>Contact Details</h2>
    <address>
        1234 W 6789 N<br />
        Salt Lake City, UT 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        801.264.9700
    </address>

    <address>
        <strong>Company Email:</strong> <a href="mailto:servethelord@missionexperience.com">servethelord@missionexperience.com</a><br />
        <strong>Mission Department Email:</strong> <a href="mailto:missionarydepartment@myldsmail.net">missionarydepartment@myldsmail.net</a>
    </address>

    <div>
        <form>
            <label for="fname">Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name.." class="form-control">

            <label for="email">Email</label>
            <input type="text" id="email" name="emailaddress" placeholder="Your email.." class="form-control">

            <label for="subject">Subject</label>
            <select id="subject" name="subject" class="form-control">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>

            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." class="form-control" style="height:200px"></textarea>

            <input style="margin-top: 20px;" class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
