@{
    ViewBag.Title = "Home Page";
}
<div class="video-background">
    <div class="video-cover">
        <p class="intro-text">
            “We are commanded by God to take this gospel to all the world. That is the cause that must unite us today. 
            Only the gospel will save the world. … Only the gospel will unite men of all races. … Only the gospel will bring joy, 
            happiness, and salvation to the human family.”
            <br />
            -President Ezra Taft Benson, <span style="font-style: italic">Preach My Gospel</span>
        </p>
        <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-outline-warning intro-button">Play Video</button>
    </div>
</div>

<div class="jumbotron" style="margin-bottom: 0px;">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Go Forth To Serve</a>
    </p>
</div>

<div id="id01" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <iframe src="https://www.youtube.com/embed/fjwrMfY8tlY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>