@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron header-center-align" style="padding: 0px;">
    <div class="header-cover" style="color: #000000;">
        <div style="padding-top: 100px;">
            <img style="width: 400px;" src="~/Content/2000px-Logo_of_the_Church_of_Jesus_Christ_of_Latter-day_Saints.svg.png" />
            <p id="demo" style="margin-top: 30px; padding-left:30%; padding-right:30%; font-size: 25px;" class="lead roman-text"></p>
            <p style="margin-top: 40px;"><a href="" class="btn custom-button btn-lg lucida-text">Go Forth To Serve &raquo;</a></p>
            <script>
                var i = 0;
                var txt = "\"Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost\" - Matthew 28:19";
                var speed = 50;

                function typeWriter() {
                    if (i < txt.length) {
                        document.getElementById("demo").innerHTML += txt.charAt(i);
                        i++;
                        setTimeout(typeWriter, speed);
                    }
                }
            </script>
        </div>
    </div>
</div>
<iframe class="row2-video" src="https://www.youtube.com/embed/fjwrMfY8tlY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="row2-intro">
    <p class="intro-text">
        “We are commanded by God to take this gospel to all the world. That is the cause that must unite us today. Only the gospel will save the world. … Only the gospel will unite men of all races. … Only the gospel will bring joy, happiness, and salvation to the human family.”
    </p>
    <p class="intro-text" style="margin-top: 20px; font-style: italic;">—President Ezra Taft Benson<br />Preach My Gospel, 2</p>
</div>
