
@{
    ViewBag.Title = "MissionInformation";
}

<h2 class="mission-textbox">Mission Information</h2>
@Html.Raw((String)ViewBag.Output)
<div class="mission-textbox mission-question">
    <h4>Post any questions you have:</h4>
    <textarea class="form-control" rows="10" cols="75"></textarea>
</div>